body{
    margin: 0;
    font-family: 'Rosario', sans-serif;
}

html {
  margin: 0;
  font-family: 'Rosario', sans-serif;
}

.content {
    margin: 0 auto;
    width: 700px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: left;
    padding: 5px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    }

.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

