<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Rosario:500&display=swap');
    </style>   
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    {% block head %} {% endblock %}
</head>
<body>
    {% block body %} {% endblock %}
    <br><br><br><br><br>
    <!-- <iframe name='iframe' id='iframe' src="http://www.mypanchang.com/mobilewidget.php?cityname=Hyderabad-AP-India&displaymode=full" scrolling="no" width="190px" height="200px" frameborder="0" style="border:skyblue;" allowTransparency="true"></iframe> -->
</body>
</html>